{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>All Degrees</h2>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr class="info">
                    <th>Degree ID</th>
                    <th>Degree Abbreviation</th>
                    <th>Degree Level</th>
                    <th>Medical Degree</th>
                    <th>Degree Weight</th>
                </tr>
                </thead>
                {% for degree in degrees %}
                    <tr>
                        <td>{{ degree.degreeId }}</td>
                        <td>{{ degree.degreeAbbreviation }}</td>
                        <td>{{ degree.degreeLevel ?? "No Info" }}</td>
                        <td>{{ degree.degreeIsMedical ? "Yes" : "No" }}</td>
                        <td>{{ degree.degreeWeight ?? "No Info" }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}