{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div class="container">
            <h2>All Faculty Degrees</h2>
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                <tr class="info">
                    <th>Degree ID</th>
                    <th>Degree Abbreviation</th>
                    <th>Degree Weight</th>
                    <th>Degree Level</th>
                    <th>Degree is Medical?</th>
                    <th>Degree Type ID</th>
                </tr>
                </thead>
                {% for degree in degree_list %}
                    <tr>
                        <td>{{ degree.id }}</td>
                        <td>{{ degree.abbreviation }}</td>
                        <td>{{ degree.weight }}</td>
                        <td>{{ degree.level }}</td>
                        <td>{{ degree.isMedical ? 'Yes' : 'No'}}</td>
                        <td>{{ degree.typeID }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}